<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>meucurso-web</display-name>

	<filter>
		<filter-name>SscFilter</filter-name>
		<filter-class>br.gov.prodemge.ssc.filter.SscFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>SSC_FILTER_EJB_VERSAO</param-name>
			<param-value>${project.version}</param-value>
		</init-param>
		<init-param>
			<param-name>SSC_FILTER_MODO_OTIMIZADO</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SscFilter</filter-name>
		<servlet-name>zkLoader</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SscFilter</filter-name>
		<servlet-name>auEngine</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SscFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>publico/br/gov/prodemge/proddigio/meucurso/visao/index.zul</welcome-file>
		<!-- Substituir a linha acima pela linha abaixo caso queira que o sistema não tenha parte pública.-->
		<!-- <welcome-file>privado/br/gov/prodemge/proddigio/meucurso/visao/index.zul</welcome-file> -->
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>meucurso-frontend Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>autenticado</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>

	</security-constraint>

	<security-constraint>
		<display-name>Zkau and Public Unprotected</display-name>
		<web-resource-collection>
			<web-resource-name>HtmlAdaptor</web-resource-name>
			<description>Exclude Zkau and Public</description>
			<url-pattern>/zkau/*</url-pattern>
			<url-pattern>/zkcomet/*</url-pattern>
			<url-pattern>/rest/*</url-pattern>
			<url-pattern>/css/*</url-pattern>
			<url-pattern>/imagens/*</url-pattern>
			<url-pattern>/js/*</url-pattern>
			<url-pattern>/fontes/*</url-pattern>
			<url-pattern>/publico/*</url-pattern>
			<url-pattern>/signa/*</url-pattern>
			<url-pattern>/servletAssinaturaRest</url-pattern>
			<url-pattern>/area-restrita/servletAssinaturaRest</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
			The role that is required to log in to the meucurso-frontend Application
		</description>
		<role-name>autenticado</role-name>
	</security-role>
	
</web-app>
